/*.number {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
*/

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
.example_image {
    max-width: 70%;
    height: auto;
  }
  */