.intro {
    //  background-image: url("japanese.jpg");
    // background-color: grey;
      filter: grayscale(100%);
      height: 80vh;
      //opacity: 0.2;
      border-bottom: 1px solid black;
  }

  .border_big {
    padding: 100px;
}