.congratulations {
    padding: 50px;
    margin: 0px 150px 150px;
}

.img-fluid {
    max-height: 200px;
}

.top_info {
   display: flex;
   justify-content: space-between;
   margin: 30px 150px;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
}