.congratulations {
    padding: 50px;
    margin: 0px 150px 150px;
}

.img-fluid {
    max-height: 200px;
}

.top_info {
   display: flex;
   justify-content: space-between;
   margin: 30px 150px;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_button {
    padding: 8px 20px;
    width: 200px;
    background-color: #9e8c7b;
    border-radius:7px;
    cursor: pointer;
    color: #000;
  }

  .delete_button {
      font-size: 20px;
  }

  .delete_button:hover {
      background-color: red;
      border-color: red;
      color: white;
  }

  hr {
      margin-bottom: 50px !important;
  }