.left {
    margin-left: 40px;
}

//found X words

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin: 0;
}

//sample sentences

.sample_sentences {
  margin-top: 5px;
  margin-bottom: 20px;
}

.wrapper {
  display: grid;
  width: 20%;
  color: #444;
  margin-top: 25px;
  margin-bottom: 25px;
}

.box {
  // background-color: #444;
  // color: #fff;
  // border-radius: 5px;
  //  padding: 10px;
}

.a {
  grid-column: 2;
}
.b {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c {
  grid-column: 2;
  grid-row: 2;
}
.d {
  grid-column: 2;
  grid-row: 2;
}

//display of thumbnail and author
.thumbail_box {
  width: 500px;
  display: flex;
  height: 100%;
  //  margin-top: 25px;
  //  margin-bottom: 25px;
}

.thumb_auth {
  display: inline-block;
  align-self: flex-end;
}

.thumbnail {
  //all copied so need to be carefull
  background-color: black;
  width: 250px;
  height: 200px;
  display: inline-block; /* makes it fit in like an <img> */
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}

.search_button {
  padding: 8px 20px;
  width: 200px;
  background-color: #9e8c7b;
  border-radius:7px;
  cursor: pointer;
  color: #000;
}

.left_side {
  margin-left: 80px;
}