.congratulations {
    padding: 50px;
    margin: 0px 150px 150px;
}

h1, h3 {
    text-align: center;
}

.header {
    margin-bottom: 30px;
}

.img-fluid {
    max-height: 200px;
}

.buttons {
    text-align: center;
}